@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

body {
  overflow: hidden;
  background-color: #f6f6f6;
  font-family: "Open Sans", "Lucida Grande", tahoma, verdana, arial, sans-serif;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
}

.titleIcon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 }

.titleIcon p {
  margin-left: 15px;
}

.tasks {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 30px 0;
}

.title {
  flex-direction: column;
  list-style-type: none;
  color: #c1bfbf;
  padding: 10px;
}

.title span {
  color: #c1bfbf;
}

.tasks section {
  background-color: #fff;
  width: 70%;
  padding: 30px;
  border-radius: 3px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
}

.addTasks {
  width: 100%;
  list-style-type: none;
}

.form {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.addTask input {
  padding: 0 40px 0 1rem;
  line-height: 50px;
  border: none;
  font-style: italic;
  width: 95%;
  height: 50px;
}

.addTask input::placeholder {
  font-size: 15px;
  color: #c1bfbf;
}

.form span {
  font-size: 10px;
  color: #c1bfbf;
  flex-direction: row;
  margin-left: 30%;
  margin-top: 20px;
}

.task {
  position: relative;
  background-color: #fff;
  padding: 0 49px 0 1em;
  font-size: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  font-weight: 300;
  height: 70px;
  letter-spacing: 1px;
  align-items: center;
}

.task .label {
  width: 100%;
  line-height: 20px;
  word-wrap: break-word;
  margin-left: 20px;
}

.task span {
  opacity: 0.2;
  float: right;
  margin-right: -3em;
  padding: 0 0.5rem;
  line-height: 0;
  cursor: move;
}

.taskList {
  align-items: center;
}

.clearAllBtn {
  background-color: rgba(128, 128, 128, 0.699);
  color: rgb(220, 220, 220);
  margin-bottom: 30px;
  width: 100%;
  height: 60px;
  margin-top: 30px;
}
